node_modules/
bore.exe
cloudflared.exe
ngrok.exe
public_url.txt
data/
public/icons/
public/apps/
public/screenshots/
*_err*.txt
*_out*.txt
*_test*.txt
*.zip
*.msi
*.db
tunnel.js
tunnel_url.txt

android/.gradle/
android/app/build/
android/local.properties
android/build/
*.iml
.idea/

win81/app/bin/
win81/app/obj/
win81/mStore/mStore.appx
